<div class="banner">
  <div class="row">
    <div class="col m12 valign-wrapper">
      <h4 class="vertical-align white-text">Consulta del Dr. <%= medico.Nombre+' '+medico.Apellido%></h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row card-panel">
    <div class="col m12">
      <h3 class="center">Lista de Pacientes</h3>
    </div>
    
    <div class="col m12">
      <table>
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% pacientes.forEach(function (paciente) { %>
            <tr>
              <td><a href="/Medico/Consulta/<%= medico.id %>/<%= paciente.id %>"><%= paciente.Cedula %></a></td>
              <td><%= paciente.Nombre +' '+ paciente.Apellido %></td>
              <td><a class="waves-effect waves-light btn blue darken-1" href="/Medico/Login">Historia</a></td>
              <td><a href="/Medico/Consulta/<%= medico.id %>/<%= paciente.id %>" class="waves-effect waves-light btn blue darken-1">Consulta</a></td>
            </tr>
            <%})%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating green" href="/Paciente/Registro/<%= medico.id%>"><i class="material-icons">person</i></a></li>
      <li><a class="btn-floating yellow modal-trigger" href="modalBuscar"><i class="material-icons">search</i></a></li>
    </ul>
  </div>
</div>
<form id="modalBuscar" class="modal" action="" method="POST">
  <div class="modal-content">
    <div class="row">
      <h5 class="center">Buscar Paciente por Numero de Cedula</h5>
    </div>
    <div class="row">
      <div class="col m12 input-field">
        <input placeholder="12345678" name="cedula" type="text" class="validate">
        <label for="name">Cédula de Identidad</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" type="submmit">Buscar</button>
  </div>
</form>
