<div class="banner">
	<div class="row">
		<div class="col m12 valign-wrapper">
			<h4 class="white-text vertical-align">Datos del Sr(a). <%= Paciente.Apellido%></h4>
		</div>
	</div>
</div>
<div class="container">
	<form class="row" method="POST" action="/Paciente/Update/<%= Paciente.id %>">
		<div class="col m12 card-panel">
			<div class="row">
				<div class="col m6 input-field">
					<input value="<%= Paciente.Nombre %>" id="Nombre" name="Nombre" type="text" class="validate">
          			<label for="Nombre">Nombre</label>
				</div>
				<div class="col m6 input-field">
					<input value="<%= Paciente.Apellido %>" id="Apellido" name="Apellido" type="text" class="validate">
          			<label for="Apellido">Apellido</label>
				</div>
			</div>
			<div class="row">
				<div class="col m6 input-field">
					<input value="<%= Paciente.Cedula %>" id="Cedula" name="Cedula" type="text" class="validate">
          			<label for="Cedula">Cédula</label>
				</div>
				<div class="col m6 input-field">
					<input type="text" class="datepicker" name="FNacimiento">
          			<label for="FNacimiento">Fecha de Nacimiento</label>
				</div>
			</div>
			<div class="row">
				<div class="col m6 input-field">
					<input value="<%= Paciente.Sexo %>" id="Sexo" name="Sexo" type="text" class="validate">
          			<label for="Sexo">Sexo</label>
				</div>
				<div class="col m6 input-field">
					<input value="<%= Paciente.TSangre %>" id="TSangre" name="TSangre" type="text" class="validate">
          			<label for="TSangre">Tipo de Sangre</label>
				</div>
			</div>
			<div class="row">
				<div class="col m6 input-field">
					<input value="<%= Paciente.NAptoCasa %>" id="Apto" name="NAptoCasa" type="text" class="validate">
          			<label for="NAptoCasa">Numero de Apartamento o Casa</label>
				</div>
				<div class="col m6 input-field">
					<input value="<%= Paciente.Urbanizacion %>" id="Urbanizacion" name="Urbanizacion" type="text" class="validate">
          			<label for="Urbanizacion">Urbanización</label>
				</div>
			</div>
			<div class="row">
				<div class="col m6 input-field">
					<input value="<%= Paciente.Calle %>" id="Calle" name="Calle" type="text" class="validate">
          			<label for="Calle">Calle o Avenida</label>
				</div>
				<div class="col m6 input-field">
					<input value="<%= Paciente.Ciudad %>" id="Municipio" name="Ciudad" type="text" class="validate">
          			<label for="Municipio">Municipio o Ciudad</label>
				</div>
			</div>
			<div class="row">
				<div class="col m12 center">
					<button class="waves-effect waves-light btn blue darken-1" type="submit">Modificar</button>
				</div>
			</div>
		</div>
	</form> 
</div>